<!--* SECTION - 2: Compétences -->

<section>
  <h2>Compétences</h2>

  <ul>
    <li><p>IT & Télécoms</p></li>
    <li><p>Énergie</p></li>
    <li><p>Construction</p></li>
    <!-- <li><p>Gestion intégrée des projets</p></li> -->
  </ul>

  <!--* Section - 2.1: IT & Télécoms -->

  <h3>IT & Télécoms</h3>
  <ul>
    <li>
      <h4>Réseaux d'information et de télécommunication et internet</h4>
      <p>
        Conception et installation de réseaux informatiques et de
        télécommunication
      </p>
    </li>
    <li>
      <h4>Technologies de la sécurité de l'information</h4>
      <p>
        Construire et mettre en œuvre un système de protection de l'information
      </p>
    </li>
    <li>
      <h4>Intégration du système</h4>
      <p>
        Solutions avancées pour l'automatisation des activités et processus
        commerciaux
      </p>
    </li>
    <li>
      <h4>Systèmes de gestion automatises (SCADA)</h4>
      <p>
        Systèmes automatisés de supervision, de traitement, de contrôle
        situationnel et commercial
      </p>
    </li>
    <li>
      <h4>Centre d'appel</h4>
    </li>
  </ul>

  <!--* Section - 2.2: Énergie -->

  <h3>Énergie</h3>

  <ul>
    <li>
      <h4>Fabrication de câbles</h4>
      <ul>
        <li><p>Câbles d'alimentation</p></li>
        <li><p>Câbles de données</p></li>
        <li><p>Câbles spécialisés</p></li>
      </ul>
    </li>
    <li>
      <h4>Construction d'installations d'infrastructure électrique</h4>
      <ul>
        <li><p>Centrales électriques</p></li>
        <li><p>Sous-stations électriques</p></li>
        <li><p>Lignes de transmission d'énergie</p></li>
      </ul>
    </li>
    <li>
      <h4>Fourniture d'équipements électriques</h4>
      <ul>
        <li><p>Transformateurs</p></li>
        <li><p>Cellules électriques</p></li>
        <li><p>Disjoncteurs</p></li>
        <li><p>IACM</p></li>
        <li><p>Accessoires réseaux BT</p></li>
      </ul>
    </li>
  </ul>

  <!--* Section - 2.3: Construction -->

  <h3>Construction</h3>

  <ul>
    <li>
      <h4>Infrastructures industrielles</h4>
      <ul>
        <li><p>Installations industrielles</p></li>
        <li><p>Transport</p></li>
        <li><p>Approvisionnement en eau et assainissement</p></li>
        <li><p>Agriculture</p></li>
      </ul>
    </li>
    <li>
      <h4>Infrastructures civiles</h4>
      <ul>
        <li><p>Résidentiel</p></li>
        <li><p>Commercial</p></li>
        <li><p>Social</p></li>
      </ul>
    </li>
  </ul>
</section>
