<!--* SECTION - 1: GROUPE -->

<section>
  <h2>Groupe</h2>

  <!--* Section - 1.1: Passé et présent -->

  <h3>Passé et présent</h3>
  <p>RIZORNO a été fondée en 2007 par un groupe d'ingénieurs d'Ukraine.</p>
  <p>
    Au cours de la durée de son existence, RIZORNO est devenue une société où
    les valeurs telles que la liberté et l'indépendance sont exprimés et où les
    expériences polyvalentes et les technologies de pointe sont efficacement
    combinés pour réaliser les rêves de nos clients.
  </p>
  <p>
    De nos jours, RIZORNO est une équipe de personnes hautement qualifiées et de
    professionnels des experts qui ont réussi à mettre en œuvre des projets à la
    fois au sein et en dehors de l'Ukraine.
  </p>
  <p>
    Nos employés sont l'atout le plus précieux et la base de notre succès. Ils
    sont ceux qui font la force de notre compétitivité et croissance durable.
    C'est pourquoi nous assurerons l'égalité des opportunités pour la croissance
    et l'épanouissement de nos employés, de l'observation le plus élevé de la
    vie, la santé normes, la sécurité et le mérite de rémunération du travail.
  </p>
  <p>
    La préoccupation principale de RIZORNO est la confiance ; la confiance de
    nos clients, employés et partenaires. Nous apprécions la possibilité de
    travailler et d'atteindre les objectifs fixés ensemble.
  </p>
  <p>
    En raison de l'effectivité des compétences et des stratégies de
    développement, RIZORNO atteint fermement une croissance soutenue qui permet
    d'élargir la responsabilité de la société et de l'environnement.
  </p>
  <p>
    RIZORNO est toujours ouverte pour une nouvelle coopération, des idées
    créatives et des relations amicales.
  </p>

  <!--* Section - 1.2: Notre stratégie -->

  <h3>Notre stratégie</h3>
  <ul>
    <li>
      <p>Mission</p>
      <p>
        La formation d'un environnement sain et confortable pour la vie et le
        travail de création où la nature et les innovations peuvent s'unir
        harmonieusement.
      </p>
    </li>
    <li>
      <p>Philosophie</p>
      <p>
        Développement spirituel et culturel très efficace et l'utilisation
        économe des ressources naturelles à préserver pour les générations
        futures.
      </p>
    </li>
    <li>
      <p>Vision</p>
      <p>
        Une entreprise de construction où des valeurs telles que la liberté et
        l'indépendance sont exprimées et où la connaissance profonde,
        l'expérience polyvalente des technologies de pointe sont combinés plus
        efficacement pour la mise en œuvre des rêves de la clientèle.
      </p>
    </li>
    <li>
      <p>Principes</p>
      <ul>
        <li>
          <p>Sécurité pour l'homme</p>
          <p>
            Assurer un environnement intérieur écologique du bâtiment en créant
            une atmosphère saine et confortable.
          </p>
        </li>
        <li>
          <p>Sécurité pour la nature</p>
          <p>
            Minimisation de la consommation d'énergie et de ressources
            matérielles pendant tout le cycle de vie de l'installation, depuis
            le choix du site jusqu'à la conception, la construction,
            l'exploitation, les réparations, la démolition et l'élimination.
          </p>
        </li>
        <li>
          <p>Confortable</p>
          <p>Fournir un environnement confortable et fonctionnel.</p>
        </li>
        <li>
          <p>Frugalité</p>
          <p>
            Application de technologies avancées et consommation efficace des
            ressources naturelles pour une utilisation rationnelle des richesses
            de la planète et des fonds des clients.
          </p>
        </li>
      </ul>
    </li>
  </ul>
</section>
